.App {
  text-align: center;
}

.data {
  background: rgb(139, 139, 139);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  width: fit-content;
  gap: 5rem;
}
.data span {
  align-content: center;
  padding: 1.5rem;
  border-bottom: 1px solid wheat;
}
